<div class="text-center">
  <form class="form-signin" [formGroup]="registerForm" >
    <br><br><br><br>
    <img class="mb-4" src="assets/qw11.png" alt="" height="72">
    <h1 class="h3 mb-3 font-weight-normal"><b>Register for Quizzy</b></h1><br>
          <input type="email" formControlName="email" class="form-control" placeholder="Email" required autofocus>
          <input type="password" formControlName="password" class="form-control" placeholder="Password" required>
          <label class="success">{{successMessage}}</label>
          <label class="error">{{errorMessage}}</label>
          <button class="btn btn-lg btn-primary btn-block" (click)="tryRegister(registerForm.value)" type="submit">Register</button><br>
          <p>Already have an Account? <a class="mt-5 mb-3 text-muted" href="/login">Login</a></p>
  </form>
</div>
